<div class="sidebar">
  <h3>Genres</h3>
  <ul>
    <!-- Reverse Engineering -->
    <li>
      <button class="genre-toggle">Reverse Engineering</button>
      <ul class="post-list hidden">
        <!-- CTFs Subcategory -->
        <li>
          <button class="subgenre-toggle">Pwnable.kr</button>
          <ul class="sub-post-list hidden">
            <li><a href="/_site/posts/binary.html">Toddler's Bottle</a></li>
            <li><a href="{{ site.baseurl }}/posts/re2.html">Rookiss</a></li>
          </ul>
        </li>
        <!-- Malware Subcategory -->
        <li>
          <button class="subgenre-toggle">Malware</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Packed PE Analysis</a></li>
            <li><a href="{{ site.baseurl }}/posts/mal2.html">Reverse a RAT</a></li>
          </ul>
        </li>
        <!-- Hardware Subcategory -->
        <li>
          <button class="subgenre-toggle">Hardware</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/hw1.html">Exploit Device via UART</a></li>
            <li><a href="{{ site.baseurl }}/posts/hw2.html">Dump Flash via SPI</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Binary Exploitation -->
    <li>
      <button class="genre-toggle">Binary Exploitation</button>
      <ul class="post-list hidden">
        <li><a href="{{ site.baseurl }}/posts/bin1.html">ret2libc</a></li>
        <li><a href="{{ site.baseurl }}/posts/bin2.html">ROP Chains</a></li>
      </ul>
    </li>

    <!-- Malware -->
    <li>
      <button class="genre-toggle">Malware</button>
      <ul class="post-list hidden">
        <!-- CTFs Subcategory -->
        <li>
          <button class="subgenre-toggle">Development</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/re1.html">Windows</a></li>
            <li><a href="{{ site.baseurl }}/posts/re2.html">Android</a></li>
          </ul>
        </li>
        <!-- Malware Subcategory -->
        <li>
          <button class="subgenre-toggle">Analysis</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Networks</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
