<div class="sidebar">
  <h3 class="genre">Genres</h3>
  <ul>
    <!-- Reverse Engineering -->
    <li>
      <button class="genre-toggle">System Exploitation</button>
      <ul class="post-list hidden">
        <!-- CTFs Subcategory -->
        <li>
          <button class="subgenre-toggle">Pwnable.kr</button>
          <ul class="sub-post-list hidden">
            <li><a href="/posts/binary.html">Toddler's Bottle</a></li>
            <li><a href="{{ site.baseurl }}/posts/re2.html">Rookiss</a></li>
          </ul>
        </li>
          <li>
          <button class="subgenre-toggle">Exploit Education</button>
          <ul class="sub-post-list hidden">
            <button class="subgenre-toggle">Phoenix</button>
            <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/phoenix.html">Stacks</a></li>
            <li><a href="{{ site.baseurl }}/posts/phoenix-format.html">Format</a></li>
            <li><a href="{{ site.baseurl }}/posts/phoenix-heap.html">Heaps</a></li>
            <li><a href="{{ site.baseurl }}/posts/phoenix-network.html">Networks</a></li>
            <button class="subgenre-toggle">Fusion</button>
            <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/phoenix.html">Levels-0</a></li>
            </ul>
          
          </ul>
        </li>
      </ul>
      </li>
      
        <!-- Malware Subcategory -->
        <!-- Hardware Subcategory -->
        <li>
          <button class="subgenre-toggle">Hardware</button>
          <ul class="sub-post-list hidden">
            <button class="subgenre-toggle">CTF</button>
            <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/Micro-Corruption.html">Micro-Corruption</a></li>
            </ul>
          </ul>
            <ul class="sub-post-list hidden">
            <button class="subgenre-toggle">raspi-5</button>
            <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/RPI5.html">Bare-metal prog/debug</a></li>
            </ul>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Binary Exploitation -->
    <li>
      <button class="genre-toggle">Reverse Engineering</button>
      <ul class="post-list hidden">
                <li>
          <button class="subgenre-toggle">Firmware Analysis</button>
          <ul class="sub-post-list hidden">
            <li><a href="/posts/binary.html">Toddler's Bottle</a></li>
      </ul>
    </li>
        <li>
          <button class="subgenre-toggle">Reversing.kr</button>
          <ul class="sub-post-list hidden">
            <li><a href="/posts/binary.html">Toddler's Bottle</a></li>
      </ul>
    </li>
            <li>
          <button class="subgenre-toggle">Android</button>
          <ul class="sub-post-list hidden">
            <li><a href="/posts/picoMini.html">picoMini-CMU Africa</a></li>
      </ul>
    </li>
    </ul>
    </li>

    <!-- Malware -->
<li>
      <button class="genre-toggle">Research & Works</button>
      <ul class="post-list hidden">
        <!-- CTFs Subcategory -->
        <li>
          <button class="subgenre-toggle">CTF Writeups</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/re1.html">Windows</a></li>
          </ul>
        </li>
        <!-- Malware Subcategory -->
        <li>
          <button class="subgenre-toggle">EDR Paper(Review)</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Supplementary Notes</a></li>
            <li><a href="{{ site.baseurl }}/posts/Windows.html">Author's Note</a></li>
          </ul>
        </li>
        <li>
          <button class="subgenre-toggle">Bachelor's Projects</button>
          <ul class="sub-post-list hidden">
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Minor Project</a></li>
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Major Project</a></li>
            <li><a href="{{ site.baseurl }}/posts/mal1.html">Thesis</a></li>
          </ul>
        </li>
      </ul>
    </li>
</div>
